{
  "mountPoint": "/tmp/mnt",
  "chunkSize": 8388608,
  "uploadChunkSize": 16777216,
  "advancedChunks": 5,
  "cacheLocation": "/tmp/cache",
  "refreshDelay": 60000,
  "maxCacheSize": 747520,
  "maxConcurrentUploads": 4,
  "debug": false
}
